pandas
selenium
undetected-chromedriver
flake8
pandas-profiling
discord-webhook
icecream
requests-html
jupyterlab==3
"jupyterlab-kite>=2.0.2"
tabula
jupyterlab-system-monitor
jupyter-resource-usage
jupyterlab-topbar
jupyterlab_execute_time
sidecar
lckr-jupyterlab-variableinspector 
ipywidgets
jupyterlab_theme_solarized_dark
jupyterlab-quickopen
jupyterlab-git
