pandas
selenium
undetected-chromedriver
fake-useragent
geopy
ujson
bs4
flake8
pandas-profiling
discord-webhook
icecream
requests-html
jupyterlab>=3
jedi-language-server
jupyterlab-lsp==3.5.0
tabula-py
jupyterlab-system-monitor
jupyter-resource-usage
jupyterlab-topbar
jupyterlab_execute_time
lckr-jupyterlab-variableinspector 
ipywidgets
jupyterlab_theme_solarized_dark
jupyterlab-quickopen
html5lib
xeus-python
ptvsd
notebook
